:root {
    --primary: #04AA6D;
    --secondary: #555;
    --background: #1d2a35;
    --paper: #f1f1f1;
    --paperHover: #ddd;
    --paperFocus: #ccc;
    --light: white;
    --dark: black;

    --green-custom: #04AA6D;
    --blue-custom: #2196F3;
    --red-custom: #f44336;
    --gray-custom: #555;
    --gray-custom-dark: #262626;
    --gray-custom-light: #818181;


    --button-size: 64px;
    --button-line-height: 6px;
    --button-line-width: calc(var(--button-size) / 2);
    --button-hover-offset: 5px;
    --button-hover-offset-negative: calc(var(--button-hover-offset) * -1);
    --button-hover-offset-full: calc(var(--button-size) + var(--button-hover-offset));
    --button-hover-offset--full-negative: calc(var(--button-size) + var(--button-hover-offset-negative));
    --button-active-offset: 8px;

    --button-translate-origin: calc(var(--button-line-height) / 2);
    /* --button-translate-origin-big: calc((var(--button-size)) - var(--button-translate-origin-small)); */
    --button-translate-length: calc(var(--button-size) - var(--button-line-height));

    /* --button-translate-origin-small-hover: calc(var(--button-line-height) / 2 - var(--button-hover-offset));
    --button-translate-origin-big-hover: calc((var(--button-size)) - var(--button-translate-origin-small-hover)); */
    --button-translate-length-hover: calc(var(--button-translate-length) + var(--button-hover-offset));


    /* --button-hover-offset-negative: -10px;
    --button-hover-offset-full: 54px;
    --button-hover-offset--full-negative: 74px;
    --button-translate-origin-small: 3px;
    --button-translate-origin-big: 61px;
    --button-translate-length: 58px;
    --button-translate-origin-small-hover: -7px;
    --button-translate-origin-big-hover: 71px;
    --button-translate-length-hover: 68px; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--light);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.closeButton {
    outline: 11px solid red;
    position: relative;
    margin: var(--button-line-height);
    /* right: 0; */
    width: var(--button-size);
    height: var(--button-size);
    cursor: pointer;
    /*to resize just use scale (can't be bothered) */
    /* ok I'm fixing it sorry */
    transform: scale(5);
    /* background-color: black;
    background-color: red; */
    margin: 20rem;
}

.closeButton div {
    height: var(--button-line-height);
    background-color: var(--paper);
    position: absolute;
    transition: .2s;
}

.closeButton .test {
    height: 1px;
    width: 200%;
    background-color: var(--gray-custom);
    position: absolute;
    top: 35px;
    left: -32px;
    transform: rotate(45deg);
    opacity: .5;
}

.closeButton .move {
    top: 5px;
}

.closeButton .move2 {
    top: 58px;
}

.closeButton .test2 {
    transform: rotate(135deg);
}

.closeButton .test3 {
    height: 1px;
    width: 200%;
    background-color: var(--gray-custom);
    position: absolute;
    top: 28px;
    left: -32px;
    transform: rotate(45deg);
    opacity: .5;
}

.closeButton .test4 {
    transform: rotate(135deg);
}

.closeButton .line {
    width: var(--button-line-width);
    border-radius: calc(var(--button-line-height) / 4);
    transform-origin: var(--button-translate-origin) var(--button-translate-origin);
}

.closeButton .dot {
    width: var(--button-line-height);
    height: var(--button-line-height);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.one {
    transform: rotate(45deg);
}

.two {
    transform: translate(var(--button-translate-length), 0) rotate(135deg);
}

.three {
    transform: translate(var(--button-translate-length), var(--button-translate-length)) rotate(-135deg);
}

.four {
    transform: translate(0, var(--button-translate-length)) rotate(-45deg);
}

.closeButton:hover .one {
    transform: translate(var(--button-hover-offset-negative), var(--button-hover-offset-negative)) rotate(45deg) ;
}

.closeButton:hover .two {
    transform: translate(var(--button-translate-length-hover), var(--button-hover-offset-negative)) rotate(135deg);
}

.closeButton:hover .three {
    transform: translate(var(--button-translate-length-hover), var(--button-translate-length-hover)) rotate(-135deg);
}

.closeButton:hover .four {
    transform: translate(var(--button-hover-offset-negative), var(--button-translate-length-hover)) rotate(-45deg);
}

/* button width: 64px; line width: 32px; line height: 6px; line border-radius: 1.5px; button margin: 6px; */
/* .one {
    transform: translate(-2.5649711574556px, 10.4350288425444px) rotate(45deg);
}

.two {
    transform: translate(34.5649711574556px, 10.4350288425444px) rotate(135deg);
}

.three {
    transform: translate(34.5649711574556px, 47.5649711574556px) rotate(45deg);
}

.four {
    transform: translate(-2.5649711574556px, 47.5649711574556px) rotate(135deg);
}

.closeButton:hover .one {
    transform: translate(-7.5649711574556px, 5.4350288425444px) rotate(45deg);
}

.closeButton:hover .two {
    transform: translate(39.5649711574556px, 5.4350288425444px) rotate(135deg);
}

.closeButton:hover .three {
    transform: translate(39.5649711574556px, 52.5649711574556px) rotate(45deg);
}

.closeButton:hover .four {
    transform: translate(-7.5649711574556px, 52.5649711574556px) rotate(135deg);
}

.closeButton:active .one {
    transform: translate(5.5649711574556px, 18.4350288425444px) rotate(45deg);
}

.closeButton:active .two {
    transform: translate(27.5649711574556px, 18.4350288425444px) rotate(135deg);
}

.closeButton:active .three {
    transform: translate(27.5649711574556px, 39.5649711574556px) rotate(45deg);
}

.closeButton:active .four {
    transform: translate(5.5649711574556px, 39.5649711574556px) rotate(135deg);
} */