:root {
    --primary: #04AA6D;
    --secondary: #555;
    --background: #1d2a35;
    --paper: #f1f1f1;
    --paperHover: #ddd;
    --paperFocus: #ccc;
    --light: white;
    --dark: black;

    --green-custom: #04AA6D;
    --blue-custom: #2196F3;
    --red-custom: #f44336;
    --gray-custom: #555;
    --gray-custom-dark: #262626;
    --gray-custom-light: #818181;

    --blue-custom-hover: #0b7dda;
    --green-custom-hover: #3e8e41;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--light);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    display: flex;

}

button {
    background-color: var(--blue-custom);
    color: white;
    border: none;
    font-size: 18px;
    padding: 1rem;
}

button:hover {
    background-color: var(--blue-custom-hover);
}

.dropdown .dropdownButton {
    border-left: 1px solid cyan;
}

.dropdown .dropdownContent {
    display: none;
    position: absolute;
    width: 10rem;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown .dropdownContent a {
    padding: 1rem;
    background-color: var(--paper);
    color: black;
    display: block;
    cursor: pointer;
}

.dropdown .dropdownContent a:hover {
    background-color: var(--paperHover);
}