:root {
    --facebook: #3B5998;
    --twitter: #55ACEE;
    --google: #dd4b39;
    --linkedin: #007bb5;
    --youtube: #bb0000;
    --instagram: #125688;
    --pinterest: #cb2027;
    --snapchat: #fffc00;
    --skype: #00aff0;
    --android: #a4c639;
    --dribble: #ea4c89;
    --vimeo: #45bbff;
    --tumblr: #2c4762;
    --vine: #00b489;
    --foursquare: #45bbff;
    --stumbleupon: #eb4924;
    --flickr: #f40083;
    --yahoo: #430297;
    --reddit: #ff5700;
    --rss: #ff6600;
}