:root {
    --primary: #04AA6D;
    --secondary: #555;
    --background: #1d2a35;
    --paper: #f1f1f1;
    --paperHover: #ddd;
    --paperFocus: #ccc;
    --light: white;
    --dark: black;

    --green-custom: #04AA6D;
    --blue-custom: #2196F3;
    --red-custom: #f44336;
    --gray-custom: #555;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--light);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    width: 100%;
}

.hoverBtn {
    background-color: var(--red-custom);
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 18px;
    position: relative;
}

.hoverBtn .optionList {
    /* display: none; */
    /* width: 0; */
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    background-color: var(--paper);
    text-align: left;
    transition: width .3s;
    transition: transform .3s;
    transform: rotateX(90deg);
    transform-origin: top;
}

.hoverBtn .optionList a {
    display: block;
    padding: 1rem;
    color: black;
    text-decoration: none;
    text-wrap: nowrap;
}

.hoverBtn .optionList a:hover {
    background-color: var(--paperHover);
}

.hoverBtn:hover .optionList {
    /* display: block; */
    /* width: 10rem; */
    transform: rotateX(0deg);
    transform-origin: top;
}

.hoverBtn#btn2 {
    float: right;
}

.hoverBtn#btn2 .optionList {
    right: 0;
    left: auto;
}

