:root {
    --primary: #04AA6D;
    --secondary: #555;
    --background: #1d2a35;
    --paper: #f1f1f1;
    --paperHover: #ddd;
    --paperFocus: #ccc;
    --light: white;
    --dark: black;

    --green-custom: #04AA6D;
    --blue-custom: #2196F3;
    --red-custom: #f44336;
    --gray-custom: #555;
    --gray-custom-dark: #262626;
    --gray-custom-light: #818181;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--light);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
}

.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/photographer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    height: 100%;
}

.imgText {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
}

.imgText h1 {
    font-size: 80px;
    margin-bottom: 3rem;
}

.imgText button {
    /* padding: .5rem 1.5rem; */
    padding: 0 1rem;
    line-height: 46px;
    border-radius: 23px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    border: none;
}

.imgText button:hover {
    background-color: gray;
    color: white;
}